body {
  font-family: Helvetica;
  background-color: #333232
}

#container {
  box-sizing: border-box;
  background-color: #0E2431;
  border: 5px soild #F5E4C3;
  height: 275px;
  width: 750px; 
  margin: auto;
  text-align:center;
}

p {
    color: white; 
    font-size: 24px; 
  }

#input {
  width: 100px;
  margin: 25px autp;
  }

#btn {
  margin: 25px auto auto 5px;
}

/* Add CSS Styles Below */
