html {
  font-family: sans-serif;
}

body {
  background-color: #007ea7;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 20px;
  background: #ccdbdc;
  border-radius: 4px;
  color: #003249;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
}

.main__title {
  align-self: center;
}

.lastResult {
  color: white;
  padding: 3px;
}

.rightAnswer {
  color: green;
}

.wrongAnswer,
.gameOver {
  color: red;
}

.gameOver {
  font-size: 30px;
}

.resetButton {
  align-self: center;
  padding: 10px;
  border: none;
  background-color: #001f3f;
  color: #fff;
  cursor: pointer;
}

.resetButton--hidden {
  display: none;
}

.resetButton--show {
  display: block;
}
