html {
      font-family: Helvetica;
     }
        
body {
      width: 50%;
      max-width: 800px;
      min-width: 480px;
      margin: 0 auto;
      background-color: #DAE2F8; 
     }
        
.lastResult {
            color: white;
            padding: 3px;
             }
        
h1{
    color:#d13371;
    text-align:center;
    border:1px solid #d13371;
    padding:10px 0; 
   }
        
.pra{
     color:#6b6363;
     text-align:center;
     margin:50px 0; 
     }
        
.form ,.result{
        text-align:center; 
        }
       
.guessField{
        height:30px;
        width:80px;
        background-color:#white;
        border:1px solid #DAE2F8;
        color:#d13371;
        font-size:20px;
        padding-left:20px;
        }

.guessSubmit{
            background-color:#DAE2F8;
            border:1px solid #d13371; 
            width:100px;
            height:30px;
            color:#d13371;
            font-size:18px;
            margin:40px 0; 
        }
